.container {
    margin: $margin * 6;
}

.header {
    @include box-shadow-default;
    background: white;
    display: flex;
    align-items: center;
    padding: $padding * 6;
    border-radius: $radius * 4;

    span {
        font-weight: 600;
        font-size: 2em;
    }
}

.form {
    background: #ccc;
    padding: $padding-sm * 4;
    border-radius: $radius-md;
    margin-top: $margin-sm * 3;
}

.inputs {
    display: flex;
    justify-content: space-between;

    .group-1 {
        flex-basis: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .group-2 {
        flex-basis: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .input {
        margin-bottom: $margin-sm * 4;
    }
    .timeSelect {
        display: flex;
        column-gap: 30px;
        align-items: center;
    }
    .scheduleContainer{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .schedule{
        display: flex;
        gap: 10px;
        color: #41B06E;
        border: 1px solid #41B06E;
        border-radius: 20px;
        padding: 5px;
        background-color: white;
        width: 190px;
        align-items: center;
        justify-content: center;
    }
    input,
    select {
        height: 50px !important;
        cursor: pointer;
    }

    textarea {
        height: 168px !important;
    }

    .icon{
        font-size: 36px;
    }
    .iconRemove{
        font-size: 22px;
    }
}

.buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 2em;

    .group {
        width: 40%;
        display: flex;
        justify-content: space-between;

        .button {
            flex-basis: 45%;
            border-radius: $radius-md * 5;
        }

        .cancel {
            background: white;
            color: black;
        }
    }
}
